*, *::before, *::after {
  box-sizing: border-box;
}

/* Overall background */
body {
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

/* Box structure */
.calculator{
  width: 320px;
  margin: 100px auto;
  
}

/* Ouput window */
#answer{
    background-color: black;
    padding: 10px;
    font-size: 35px;
    width: 320px;
    height: 45px;
    text-align: right;
    border: 1px solid white;
    color: wheat;
}

/* Button styling */
.button{
  background-color: lightcoral;
  height: 80px;
  width: 80px;
  color: whitesmoke;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}
/* Hover */
.button:hover,button:focus{
   background-color: rgba(174, 101, 101, 0.9);
}

.button1{
  width: 320px;
}
